<h2><%= @task.title %></h2>

<p><%= link_to "Edit this task", edit_task_path %></p>

<div class="alert alert-secondary" role="alert">
  <%= @task.details %>
</div>

<% if @task.completed? %>
  <input type="checkbox" disabled checked>
  <span>This task in completed</span>
<% else %>
  <input type="checkbox" disabled>
  <span>This task is not completed yet</span>
<% end %>

<p><%= link_to "Back to list", tasks_path %></p>
